# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment
.env
.venv
env/
venv/
ENV/
.python-version

# Database
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# Audio files
*.mp3
*.wav
*.ogg
*.raw
temp_audio/

# Log files
*.log
logs/

# IDE files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
models/
src/data/books.db
robobook.log

# Cache
.cache/
.pytest_cache/
.coverage
htmlcov/ 
*.arrow
new/set/pyvenv.cfg
new/set/Scripts/activate
new/set/Scripts/activate.bat
new/set/Scripts/Activate.ps1
new/set/Scripts/datasets-cli.exe
new/set/Scripts/deactivate.bat
new/set/Scripts/f2py.exe
new/set/Scripts/get_gprof
new/set/Scripts/get_objgraph
new/set/Scripts/huggingface-cli.exe
new/set/Scripts/normalizer.exe
new/set/Scripts/numpy-config.exe
new/set/Scripts/pip.exe
new/set/Scripts/pip3.12.exe
new/set/Scripts/pip3.exe
new/set/Scripts/python.exe
new/set/Scripts/pythonw.exe
new/set/Scripts/tqdm.exe
new/set/Scripts/undill
new/dataset_cache/blbooks_dataset.parquet
booksearch/dataset_cache/storytracer___us-pd-books/default/0.0.0/01f85b67ba15cc3275e36d84ff51b23c90ce190a/tmpe_19u9sc
booksearch/dataset_cache/storytracer___us-pd-books/default/0.0.0/01f85b67ba15cc3275e36d84ff51b23c90ce190a/tmpk4l86sqg
booksearch/dataset_cache/storytracer___us-pd-books/default/0.0.0/01f85b67ba15cc3275e36d84ff51b23c90ce190a/tmprbi7t2_l
booksearch/dataset_cache/storytracer___us-pd-books/default/0.0.0/01f85b67ba15cc3275e36d84ff51b23c90ce190a/dataset_info.json
